.avatarProfile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 3px 1px 4px 0px;
  position: absolute;
  top: -103px;
  left: 28px;
  border: 4px solid white;
}

.uploadAvatar {
  position: absolute;
  top: -6px;
  right: -6px;
}

.toggleIcons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

.iconsSize {
  font-size: 1.7rem;
}

.iconsSize:hover {
  color: #bd2323;
}
.btn:focus{
  box-shadow: unset !important;

}
.passButton {
  width: 94% !important;
  margin-left: 3% !important;
}

.profileBackground {
  background-color: #fafafa;
  min-height: 100vh;
  /* width: 72vw !important; */
}

/* .sharedBorder {
  border: 1px solid lightgrey;
} */
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 35vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.createYourContentDiv {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 361px) {
   .category{
      display: flex !important;
      flex-direction: column !important;
   }

   .avatarProfile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 3px 1px 4px 0px;
    position: absolute;
    top: -90px;
    left: 112px;
    border: 4px solid white;
  }
  .banner {

    height: 16vh;

  }

  .uploadAvatar{
    right: -125px;
  }

  .responsiveName{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  
}