.search-sec{
    padding: 2rem;
}
.search{
    display: flex;
    width: 100%;
    font-size: 0.875rem;
    
    
}
.wrn-btn{
    font-size: 16px;
    font-weight: 400;
    border-radius:0;
} 

.selectedFilter{
    border-bottom: 2px solid red !important;
    box-shadow: none !important;
}
