.App {
  text-align: center;
}


.marginTopUploader{
  margin-top: 10vh !important;
}

.buttonColor{
  background-color: #212121 !important;
  color: white !important;
}

.iconsSize{
  width: 2rem;
  height: 2rem;
}

/* NOT WORKING THE DECORATION NONE - CHECK WITH RUBEN */
/* .webLinks{
  text-decoration: none !important;
}

.webLinks:hover {
  text-decoration: none !important;
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* **** this is the color for the entire application***** */
#root{
  background-color: #d3d3d35e;
  min-height: 100vh;
}
