.App {
  text-align: center;
}


.marginTopUploader{
  margin-top: 10vh !important;
}

.buttonColor{
  background-color: #212121 !important;
  color: white !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* **** this is the color for the entire application***** */
#root{
  background-color: lightgrey;
}
