.AppUnloggedBackground{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.loginContainer {
    margin-top: 55px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.appFooter {
    background-color:  #212121;
    width: 100%;
    height: 5vh;
  
  } 
  
  .footer-copyright{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: small;
    margin-top: 10px;
  }

  .footerSpacing{
      height: 20vh;
  }



  @media screen and (max-width: 992px) {
    .responsive{
        margin-top: -90px;
        width: 100%;
        height: auto;
      }

      .footerSpacing{
        height: 5vh;
    }
  }

