.registerCard {
    width: 450px;
    height: 340px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 2px 30px 2px 30px;
    border-radius: 15%;
    
  }

  @media screen and (max-width: 992px) {
    .registerCard {
      width: 300px;
      height: 450px;
      margin-top: -140px;
      background: #ffffff;
      box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
      padding: 2px 30px 2px 30px;
      border-radius: 15%;
      
    }
  }

  .registerButton{
    background-color:#131313 !important;
    /* border-radius: 8%; */
  }
